.body-background-image {
    background-image: url(../img/body-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 54px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color:  rgba(0, 0, 0, 0.41);
}
.top-menu-name {
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.top-menu-name:hover {
    color: #3cb878;
}
.top-menu-links {
    display: flex;
    justify-content: space-between;
}
.top-menu-link {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 14px;
}
.color-green {
    color: #3cb878;
    text-decoration: none;
}
.bg-ic_caledar {
    margin-right: 28px;
    display: inline-block;
    width: 20px; height: 20px;
    background: url('../img/css_sprites.png') -106px -49px;
}
.bg-ic_caledar:hover{
    background: url('../img/css_sprites.png') -106px -10px;
}
.bg-ic_forum {
    margin-right: 28px;
    display: inline-block;
    width: 28px; height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
}
.bg-ic_forum:hover {
    background: url('../img/css_sprites.png') -10px -10px;
}
.bg-ic_journey {
    margin-right: 50px;
    display: inline-block;
    width: 20px; height: 20px;
     background: url('../img/css_sprites.png') -50px -50px;
}
.bg-ic_journey:hover {
    background: url('../img/css_sprites.png') -10px -50px;
}
.section-menu {
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
}
.contact-form {
    width: 445px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 10px;
}
.contact-form {
    padding-bottom: 30px;
    width: 445px;
    background-color: white;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    border-radius: 20px;
}
.form-img {
    padding-top: 30px;
    float: left;
}

.form-links {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 42px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.social-links {
    padding-left: 61px;
    padding-right: 61px;
    display: flex;
    justify-content: space-between;
}
.form-sign-up {
    font-family: 'Verdana', sans-serif;
    color:  #434343;
    font-size: 20px;
    text-decoration: none;
}
.form-log-in {
    font-family: 'Verdana', sans-serif;
    color:  #3cb878;
    font-size: 14px;
    text-decoration: none;
}
.facebook-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 1px;
    padding-right: 17px;
    width: 157px;
    background-color: #305db8;
    text-align: center;
    box-sizing: border-box;
}
.facebook-link:hover {
    background-color: #264b96;
}
.facebook-logo {
    padding-right: 32px;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
}
.google-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 14px;
    padding-left: 14px;
    width: 157px;
    background-color: #df4a32;
    text-align: center;
    box-sizing: border-box;
}
.google-link:hover {
    background-color: #c3412c;
}
.google-logo {
    padding-right: 32px;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Verdana', sans-serif;
}
.logo-size {
    padding-bottom: 17px;
    font-size: 16px;
}
.vertical-line {
    padding-right: 12px;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.social-title {
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
}
.lines {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
}
.line {
    width: 135px;
    color: black;
    border: 0.5px solid lightgrey;  
}
.lines-item {
    padding-right: 18px;
    padding-left: 18px;
    font-family: 'Verdana', sans-serif;
    color:  #848484;
    font-size: 14px;
}
.form {
    padding-left: 60px;
    padding-right: 60px;
}
.send-msg-field {
    margin-bottom: 12px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 17px;
    width: 100%;
    box-sizing: border-box;
    color: #434343;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
    border: 1px solid rgba(190, 190, 190, 0.3);
    border-radius: 3px;
    outline: none;    
}
.send-msg-field::placeholder {
    color: #bebebe;
}
.send-msg-field:focus {
    outline: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
.terms-conditions {
    padding-bottom: 28px;
    padding-top: 10px;
    font-family: 'Verdana', sans-serif;
    color:  #434343;
    font-size: 14px;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .200em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: 'Verdana', sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
.form-bottom-link {
    padding: 17px 100px;
    border-radius: 6px;
    background-color: #39b979;
}
.form-bottom-link:hover {
    background-color: #2e9b65;
}
.create-acc {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    text-decoration: none;
}